<footer
    class="d-flex flex-wrap justify-content-evenly align-items-center py-3 border-top bg-body-secondary bottom mb-0 ">
    
        <a href="https://github.com/jsproule899/emotion">
            <i class="bi bi-github fs-3"></i></a>
    
    
        <p class=" fs-6 fw-light m-0">© 40131836 Joshua Sproule</p>
    
    
        <a href="#"> <i class="bi bi-arrow-up-square-fill fs-4"></i></a>
    

</footer>