<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary shadow-sm align-text-center" id="navbar">
  <div class="container-fluid ">
    <a class="navbar-brand align-bottom" href="/"><img src="/img/emotion.png" class="logo" alt="Logo" width="35"
        height="35" class="d-inline-block align-text-center">
      <div class="d-inline-block align-middle fw-bold" id="logo-text">MindYourSelf</div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-text-center" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-lg-0 text-center justify-content-center">
        <li class="nav-item mx-1">
          <a class="nav-link" aria-current="page" href="/" id="nav-features">Features</a>
        </li>
        <% if(locals.user) { %>
          <li class="nav-item mx-1">
            <a class="nav-link" aria-current="page" href="/mood/add" id="nav-add">Add Mood</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="/mood/view" id="nav-view">View Moods</a>
          </li>
          <li class="nav-item mx-1">
            <a class="nav-link" href="/trends" id="nav-trends">Trends</a>
          </li>

          
          <% } %>
      </ul>


      <div class="d-flex flex-row mx-2 mb-1  nav-buttons">
        <div class="d-flex flex-row align-items-center ">
          <i class="bi bi-moon-fill mx-1 align-self-center" style="font-size: 1rem;"></i>
          <div class="form-check form-switch d-flex align-items-center mx-1 px-0 ">
            <input class="form-check-input mx-0 my-0" type="checkbox" role="switch" id="dark-light-mode" checked="true"
              aria-label="toggle light/dark mode">
          </div>
          <i class="bi bi-brightness-high mx-1 " style="font-size: 1.25rem;"></i>
        </div>
        <div class="d-flex mx-3 align-self-center" style="height: 2rem;">
          <div class="vr"></div>
        </div>

        <% if(locals.user) { %>
          <a class="btn btn-outline-primary me-2 nav-btn" href="/auth/logout">Log out</a>
          <% } else{ %>
            <a class="btn btn-primary me-2 nav-btn" href="/auth/login">Log in</a>
            <a class="btn btn-outline-primary me-2 nav-btn" href="/auth/signup">Sign up</a>
            <% } %>
      </div>
    </div>
    <Script src="/scripts/nav.js"></Script>
  </div>
</nav>