<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindYourSelf - Login</title>
    <link rel="icon" href="/img/emotion.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/styles/mystyles.css">
    <Script src="/scripts/theme.js"></Script>
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container mb-auto">

            <% if(typeof errMessage !="undefined" && errMessage) { %>
                <div class="mt-5 mb-3">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>
                            <%= errMessage %>
                        </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

                <% } %>

                    <% if(typeof successMessage !="undefined" && successMessage) { %>
                        <div class="mt-5 mb-3">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>
                                    <%= successMessage %>
                                </strong>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                        </div>

                        <% } %>

                            <div class="container bg-body-tertiary my-5 py-4 rounded-2 form-container shadow ">
                                <div class=" pt-3 row text-center">
                                    <h1 class="fs-3 ">Welcome back to MindYourSelf!</h1>
                                </div>
                                <form class="pt-3 d-flex justify-content-center has-validation" action="/login"
                                    method="post">

                                    <div class="col-10 form-input-mw">

                                        <div class="row mb-3">
                                            <input type="email" class="form-control " id="email-input"
                                                placeholder="Email" aria-describedby="emailHelp" name="email">
                                            <div class="invalid-feedback">
                                                Please enter a valid email address.


                                            </div>

                                        </div>
                                        <div class="row mb-3">

                                            <div class="input-group has-validation m-0 p-0">
                                                <input type="password" name="password" class="form-control "
                                                    id="pass-input" placeholder="Password" required><span
                                                    class="input-group-text" id="eye-icon-box"><i class="bi bi-eye"
                                                        id="eye-icon"></i></span>
                                                <div class="invalid-feedback" id="pass-invalid">
                                                    Please enter a valid password.
                                                </div>
                                            </div>
                                            <div class="row mb-3 p-0">
                                                <div class="text-end col-12 p-0">
                                                    <a href="/password/forgot">Forgot password?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row  justify-content-center ">

                                            <button type="submit" class="btn btn-primary col-8 disabled" id="login-btn"
                                                value="Submit">Login</button>
                                            <p class="text-center"> Don't have an account? <a href="/signup"> Sign
                                                    up</a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
            </script>
        <script src="/scripts/login.js"></script>
        <%- include('partials/footer') %>
</body>

</html>